mixin header(headerMods, currentUrl)
  -
    const headerLinks = [
      {
        href: "#section2",
        text: "О приложении"
      },
      {
        href: "#section3",
        text: "Возможности"
      },
      {
        href: "#section4",
        text: "Для кого"
      },
      {
        href: "#section5",
        text: "Преимущества"
      },
    ];

  -
    const socialLinks = [
      {
        href: "#",
        src: "./img/svg/telegramm.svg",
        text: "telegramm"
      },
      {
        href: "#",
        src: "./img/svg/facebook.svg",
        text: "facebook"
      },
      {
        href: "#",
        src: "./img/svg/twitter.svg",
        text: "twitter"
      },
      {
        href: "#",
        src: "./img/svg/instagramm.svg",
        text: "instagramm"
      },
    ]

  header.header(class=headerMods, data-header="")
    .container
      +logo()
      nav.header__nav
        span
        ul.header__list
          each link in headerLinks
            li.header__item
              a.header__link(href=link.href)= link.text
        a.header__app-store(href="#")
          img(src="./img/svg/app-store.svg", width="167", height="50", alt="ссылка на приложение в app-store", loading="lazy")
        .header__socials
          p.header__socials-text Следите за нами в социальных сетях
          ul.header__socials-list
            each link in socialLinks
              li
                a(href=link.href)
                  img(src=link.src, width="32", height="32", alt="", loading="lazy")
                  span.visually-hidden=link.text
      a.header__apple(href="#")
        svg(width="56" height="57" viewBox="0 0 56 57" fill="none" xmlns="http://www.w3.org/2000/svg").header__logo-apple
          rect(y="0.71875" width="56" height="56" rx="12" fill="black")
          path(d="M34.6201 27.482C34.6321 26.5621 34.8792 25.6601 35.3385 24.86C35.7978 24.0599 36.4543 23.3877 37.2469 22.9059C36.7434 22.1948 36.0791 21.6097 35.3068 21.1968C34.5346 20.784 33.6756 20.555 32.7981 20.5278C30.9263 20.3336 29.1117 21.6353 28.1578 21.6353C27.1855 21.6353 25.7169 20.5471 24.1355 20.5793C23.1126 20.612 22.1157 20.9061 21.2419 21.4329C20.3682 21.9598 19.6473 22.7015 19.1497 23.5858C16.9939 27.2762 18.6019 32.6998 20.667 35.6828C21.7002 37.1436 22.9077 38.7752 24.4877 38.7173C26.0338 38.6539 26.6112 37.7425 28.4775 37.7425C30.3265 37.7425 30.8683 38.7173 32.4803 38.6806C34.1394 38.6539 35.1847 37.2134 36.1816 35.7388C36.9239 34.698 37.4952 33.5477 37.8741 32.3305C36.9103 31.9274 36.0877 31.2527 35.5091 30.3905C34.9304 29.5283 34.6213 28.5167 34.6201 27.482Z" fill="white")
          path(d="M31.5769 18.5659C32.4814 17.4922 32.9271 16.1121 32.8192 14.7188C31.4372 14.8623 30.1606 15.5153 29.2438 16.5479C28.7955 17.0523 28.4522 17.6391 28.2335 18.2748C28.0147 18.9104 27.9248 19.5825 27.9689 20.2526C28.6602 20.2596 29.344 20.1115 29.969 19.8193C30.5939 19.5271 31.1437 19.0986 31.5769 18.5659Z" fill="white")

      button.header__burger(type="button", data-burger, aria-label="Переключатель отображения меню", aria-pressed="false")
        span
        span

  //-header.header(class=headerMods)
    //-.container
      if(currentUrl === "index.html")
        //- lighthouse снимает 10 баллов SEO за <a) без href
        span.header__logo Логотип
      else
        a.header__logo(href="index.html", aria-label="Переход на главную") Логотип
      nav.main-nav
        button.main-nav__toggle.btn-reset(type="button", aria-label="Переключатель отображения меню", aria-pressed="false")
          +icon("icon-burger", 20, 20)
        .main-nav__wrapper
          ul.main-nav__list
            each link in headerLinks
              - const activeState = currentUrl === link.href
              li.main-nav__item
                if(activeState)
                  span.main-nav__link.is-active= link.text
                else
                  a.main-nav__link(href=link.href)= link.text
